[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"

[dev-packages]
pytest = "*"
invoke = "*"

[requires]
python_version = "3.10"

[scripts]
printspam = "python -c \"print('I am a silly example, no one would need to do this')\""
runserver = "invoke runserver"
